.*
*.o
*.a
*.bak
*~
*.so
*.log

tags

cscope.in.out
cscope.out
cscope.po.out

# Source Insight
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults

# SlickEdit
*.vpwhist
*.vtg
*.vpj
*.vpw

*.gz
*.bz2

mtcping-*/

# Add other ignore the trace files
tcp_server
lib/
